.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  background-color: #eaeaec;
}
body {
  font-family: Inter Tight;
}
.display-1 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 5rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 4rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-5 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-7 {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #8d99ae !important;
}
.bg-success {
  background-color: #2fd98a !important;
}
.bg-info {
  background-color: #16cdf2 !important;
}
.bg-warning {
  background-color: #ffc209 !important;
}
.bg-danger {
  background-color: #db2d3e !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #8d99ae !important;
  border-color: #8d99ae !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #abb4c3 !important;
  border-color: #abb4c3 !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #abb4c3 !important;
  border-color: #abb4c3 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ef233c !important;
  border-color: #ef233c !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #f25366 !important;
  border-color: #f25366 !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #f25366 !important;
  border-color: #f25366 !important;
}
.btn-info,
.btn-info:active {
  background-color: #16cdf2 !important;
  border-color: #16cdf2 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #46d7f5 !important;
  border-color: #46d7f5 !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #46d7f5 !important;
  border-color: #46d7f5 !important;
}
.btn-success,
.btn-success:active {
  background-color: #2fd98a !important;
  border-color: #2fd98a !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #5ae1a2 !important;
  border-color: #5ae1a2 !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #5ae1a2 !important;
  border-color: #5ae1a2 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffc209 !important;
  border-color: #ffc209 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #ffcf3c !important;
  border-color: #ffcf3c !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #ffcf3c !important;
  border-color: #ffcf3c !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #db2d3e !important;
  border-color: #db2d3e !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #e25966 !important;
  border-color: #e25966 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #e25966 !important;
  border-color: #e25966 !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #8d99ae;
  color: #8d99ae;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #5f6d85 !important;
  background-color: transparent !important;
  border-color: #5f6d85 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #8d99ae !important;
  border-color: #8d99ae !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ef233c;
  color: #ef233c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #af0d21 !important;
  background-color: transparent !important;
  border-color: #af0d21 !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ef233c !important;
  border-color: #ef233c !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #16cdf2;
  color: #16cdf2;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #098da8 !important;
  background-color: transparent !important;
  border-color: #098da8 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #16cdf2 !important;
  border-color: #16cdf2 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #2fd98a;
  color: #2fd98a;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #1b965d !important;
  background-color: transparent !important;
  border-color: #1b965d !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #2fd98a !important;
  border-color: #2fd98a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffc209;
  color: #ffc209;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #b18500 !important;
  background-color: transparent !important;
  border-color: #b18500 !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ffc209 !important;
  border-color: #ffc209 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #db2d3e;
  color: #db2d3e;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #971a26 !important;
  background-color: transparent !important;
  border-color: #971a26 !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #db2d3e !important;
  border-color: #db2d3e !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #8d99ae !important;
}
.text-secondary {
  color: #ef233c !important;
}
.text-success {
  color: #2fd98a !important;
}
.text-info {
  color: #16cdf2 !important;
}
.text-warning {
  color: #ffc209 !important;
}
.text-danger {
  color: #db2d3e !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #58667d !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #a00c1e !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #198955 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #098199 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #a27a00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #8a1823 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #8d99ae;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #16cdf2;
}
.alert-warning {
  background-color: #ffc209;
}
.alert-danger {
  background-color: #db2d3e;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #8d99ae;
  border-color: #8d99ae;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #8d99ae;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #d8dce3;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #dbf9eb;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #d7f6fd;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fff5d5;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #f9dbde;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 1.75rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #8d99ae !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Inter Tight', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.75rem;
}
blockquote {
  border-color: #8d99ae;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #8d99ae;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #8d99ae;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #8d99ae;
  border-bottom-color: #8d99ae;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #8d99ae !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ef233c !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%238d99ae' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.cid-tWhwrJ9Ask {
  z-index: 1000;
  width: 100%;
  position: relative;
}
.cid-tWhwrJ9Ask .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
@media (max-width: 767px) {
  .cid-tWhwrJ9Ask .navbar-toggler {
    transform: scale(0.8);
  }
}
.cid-tWhwrJ9Ask .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tWhwrJ9Ask .navbar-brand img {
  max-width: 100%;
  max-height: 100%;
}
.cid-tWhwrJ9Ask .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tWhwrJ9Ask .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tWhwrJ9Ask .navbar-nav {
  margin: auto;
  margin-left: 0;
  margin-left: auto;
}
.cid-tWhwrJ9Ask .navbar-nav .nav-item {
  padding: 0 !important;
  transition: 0.3s all !important;
}
.cid-tWhwrJ9Ask .navbar-nav .nav-item .nav-link {
  padding: 16px !important;
  margin: 0 !important;
  border-radius: 1rem !important;
  transition: 0.3s all !important;
}
.cid-tWhwrJ9Ask .navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
.cid-tWhwrJ9Ask .navbar-nav .open .nav-link::after {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  .cid-tWhwrJ9Ask .navbar-nav .open .nav-link::before {
    content: "";
    width: 100%;
    height: 20px;
    top: 100%;
    background: transparent;
    position: absolute;
  }
}
.cid-tWhwrJ9Ask .navbar-nav .dropdown-item {
  padding: 12px !important;
  border-radius: 0.5rem !important;
  margin: 0 8px !important;
  transition: 0.3s all !important;
}
.cid-tWhwrJ9Ask .navbar-nav .dropdown-item:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
@media (min-width: 992px) {
  .cid-tWhwrJ9Ask .navbar-nav {
    padding-left: 1.5rem;
  }
}
.cid-tWhwrJ9Ask .nav-link {
  width: fit-content;
  position: relative;
}
.cid-tWhwrJ9Ask .navbar-logo {
  padding-left: 2rem;
  margin: 0 !important;
}
@media (max-width: 767px) {
  .cid-tWhwrJ9Ask .navbar-logo {
    padding-left: 1rem;
  }
}
.cid-tWhwrJ9Ask .navbar-caption {
  padding-left: 1rem;
  padding-right: 0.5rem;
}
@media (max-width: 767px) {
  .cid-tWhwrJ9Ask .nav-dropdown {
    padding-bottom: 0.5rem;
  }
}
.cid-tWhwrJ9Ask .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  transition: 0.3s all;
}
.cid-tWhwrJ9Ask .container {
  display: flex;
  height: 90px;
  padding: 0.5rem 0.6rem;
  flex-wrap: nowrap;
  background: rgba(255, 255, 255, 0.8) !important;
  left: 0;
  right: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100vw;
  margin-top: 1rem;
  background-color: #ffffff;
  box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
}
@media (max-width: 992px) {
  .cid-tWhwrJ9Ask .container {
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tWhwrJ9Ask .container {
    width: 95%;
    height: 56px !important;
    padding-right: 1rem;
    margin-top: 0rem;
  }
}
.cid-tWhwrJ9Ask .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tWhwrJ9Ask .dropdown-menu {
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  padding: 12px 4px !important;
  border-radius: 1.5rem;
  transition: 0.3s all !important;
  min-width: auto;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.8) !important;
}
.cid-tWhwrJ9Ask .nav-item:focus,
.cid-tWhwrJ9Ask .nav-link:focus {
  outline: none;
}
.cid-tWhwrJ9Ask .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tWhwrJ9Ask .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tWhwrJ9Ask .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tWhwrJ9Ask .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tWhwrJ9Ask .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tWhwrJ9Ask .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tWhwrJ9Ask .navbar {
  min-height: 90px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: transparent !important;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.cid-tWhwrJ9Ask .navbar.opened {
  transition: all 0.3s;
}
.cid-tWhwrJ9Ask .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tWhwrJ9Ask .navbar .navbar-logo img {
  width: auto;
}
.cid-tWhwrJ9Ask .navbar .navbar-collapse {
  z-index: 1;
  justify-content: flex-end;
}
.cid-tWhwrJ9Ask .navbar.collapsed {
  justify-content: center;
}
.cid-tWhwrJ9Ask .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tWhwrJ9Ask .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tWhwrJ9Ask .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-tWhwrJ9Ask .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tWhwrJ9Ask .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tWhwrJ9Ask .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tWhwrJ9Ask .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tWhwrJ9Ask .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tWhwrJ9Ask .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .cid-tWhwrJ9Ask .navbar {
    min-height: 72px;
  }
  .cid-tWhwrJ9Ask .navbar .navbar-logo img {
    height: 2rem !important;
  }
}
@media (max-width: 991px) {
  .cid-tWhwrJ9Ask .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tWhwrJ9Ask .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tWhwrJ9Ask .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tWhwrJ9Ask .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tWhwrJ9Ask .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tWhwrJ9Ask .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tWhwrJ9Ask .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 10px;
  }
  .cid-tWhwrJ9Ask .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tWhwrJ9Ask .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-tWhwrJ9Ask .navbar.navbar-short .navbar-logo img {
  height: 2rem;
}
.cid-tWhwrJ9Ask .dropdown-item.active,
.cid-tWhwrJ9Ask .dropdown-item:active {
  background-color: transparent;
}
.cid-tWhwrJ9Ask .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tWhwrJ9Ask .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tWhwrJ9Ask .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tWhwrJ9Ask .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-tWhwrJ9Ask .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 105%;
  transform: none;
  top: -12px;
}
.cid-tWhwrJ9Ask .navbar .dropdown.open > .dropdown-menu {
  display: flex;
}
.cid-tWhwrJ9Ask ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tWhwrJ9Ask .navbar-buttons {
  text-align: center;
  min-width: 140px;
}
@media (max-width: 992px) {
  .cid-tWhwrJ9Ask .navbar-buttons {
    text-align: left;
  }
}
.cid-tWhwrJ9Ask button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tWhwrJ9Ask button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-tWhwrJ9Ask button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tWhwrJ9Ask button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tWhwrJ9Ask button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tWhwrJ9Ask button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tWhwrJ9Ask nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tWhwrJ9Ask nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tWhwrJ9Ask nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tWhwrJ9Ask nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tWhwrJ9Ask .navbar-dropdown {
  padding: 0 1rem;
}
.cid-tWhwrJ9Ask a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tWhwrJ9Ask .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-tWhwrJ9Ask .icons-menu {
    justify-content: flex-start;
    margin-bottom: 0.5rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tWhwrJ9Ask .navbar {
    height: 70px;
  }
  .cid-tWhwrJ9Ask .navbar.opened {
    height: auto;
  }
  .cid-tWhwrJ9Ask .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tWhwrJ9Ask .navbar .dropdown > .dropdown-menu {
  display: none;
  width: max-content;
  max-width: 500px !important;
  transform: translateX(-50%);
  top: calc(100% + 20px);
  left: 50%;
}
.cid-tWhwrJ9Ask .navbar .dropdown > .dropdown-menu .dropdown-item {
  line-height: 1 !important;
}
.cid-tWhwrJ9Ask .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
  align-items: center;
  display: flex;
  height: max-content !important;
  min-height: max-content !important;
}
.cid-tWhwrJ9Ask .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
  display: inline-block;
  position: static;
  margin-left: 0.5rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  transition: 0.3s all;
  transform: rotate(-90deg);
}
.cid-tWhwrJ9Ask .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
  transform: rotate(0deg);
}
.cid-tWhwrJ9Ask .mbr-section-btn {
  margin: -0.6rem -0.6rem;
}
.cid-tWhwrJ9Ask .navbar-toggler {
  margin-left: 12px;
  margin-right: 8px;
  order: 1000;
}
@media (max-width: 991px) {
  .cid-tWhwrJ9Ask .navbar-brand {
    margin-right: auto;
  }
  .cid-tWhwrJ9Ask .navbar-collapse {
    z-index: -1 !important;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    background: #ffffff;
    opacity: 1;
    border-color: rgba(255, 255, 255, 0.8) !important;
    background: rgba(255, 255, 255, 0.8) !important;
    backdrop-filter: blur(8px);
  }
  .cid-tWhwrJ9Ask .navbar-nav .nav-item .nav-link::after {
    margin-left: 10px;
  }
  .cid-tWhwrJ9Ask .navbar-nav .dropdown-item:hover {
    background-color: rgba(27, 31, 10, 0.06);
  }
  .cid-tWhwrJ9Ask .navbar .dropdown > .dropdown-menu {
    max-width: 100% !important;
    transform: translateX(0);
    top: 10px;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-tWhwrJ9Ask .navbar .dropdown > .dropdown-menu .dropdown-item {
    padding: 8px !important;
    line-height: 1 !important;
    margin-bottom: 4px !important;
  }
  .cid-tWhwrJ9Ask .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
    align-items: center;
    display: flex;
    height: max-content !important;
    min-height: max-content !important;
  }
  .cid-tWhwrJ9Ask .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
    display: inline-block;
    position: static;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    transition: 0.3s all;
    transform: rotate(0deg);
  }
  .cid-tWhwrJ9Ask .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
    transform: rotate(180deg);
  }
  .cid-tWhwrJ9Ask .navbar .dropdown > .dropdown-menu .dropdown-submenu {
    position: static;
    width: 100%;
    max-width: 100% !important;
    transform: translateX(0) !important;
    top: 0;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-tWhwrJ9Ask .navbar .dropdown.open > .dropdown-menu {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 575px) {
  .cid-tWhwrJ9Ask .navbar-collapse {
    padding: 1rem;
  }
}
.cid-tWhwrJ9Ebf {
  display: flex;
}
@media (min-width: 768px) {
  .cid-tWhwrJ9Ebf {
    align-items: flex-end;
  }
  .cid-tWhwrJ9Ebf .row {
    justify-content: flex-start;
  }
  .cid-tWhwrJ9Ebf .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-tWhwrJ9Ebf .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-tWhwrJ9Ebf {
    -webkit-align-items: center;
    align-items: flex-end;
  }
  .cid-tWhwrJ9Ebf .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-tWhwrJ9Ebf .content-wrap {
    width: 100%;
  }
}
.cid-tWhwrJ9Ebf .mbr-fallback-image.disabled {
  display: none;
}
.cid-tWhwrJ9Ebf .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-tWhwrJ9Ebf .mbr-section-title,
.cid-tWhwrJ9Ebf .mbr-section-subtitle {
  text-align: left;
  color: #ffc091;
}
.cid-tWhwrJ9Ebf .mbr-text,
.cid-tWhwrJ9Ebf .mbr-section-btn {
  text-align: left;
}
.cid-tWhwrJbzCM {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tWhwrJbzCM .mbr-text {
  color: #000000;
}
.cid-tWhwrJbzCM .mbr-section-subtitle {
  color: #000000;
}
.cid-tWhwrJbzCM .mbr-section-title {
  color: #000000;
}
.cid-tWhwrJcCOt {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: transparent;
}
.cid-tWhwrJcCOt .mbr-fallback-image.disabled {
  display: none;
}
.cid-tWhwrJcCOt .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tWhwrJcCOt .card-wrapper {
  background: #8d99ae;
}
@media (max-width: 767px) {
  .cid-tWhwrJcCOt .card-wrapper {
    padding: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tWhwrJcCOt .card-wrapper {
    padding: 2.25rem;
  }
}
@media (min-width: 992px) {
  .cid-tWhwrJcCOt .card-wrapper {
    padding: 4rem;
  }
}
.cid-tWhwrJcCOt .mbr-text,
.cid-tWhwrJcCOt .mbr-section-btn {
  color: #000000;
}
.cid-tWhwrJcCOt .card-title,
.cid-tWhwrJcCOt .card-box {
  text-align: center;
  color: #000000;
}
.cid-tWhwrJcqBH {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: transparent;
}
.cid-tWhwrJcqBH .mbr-fallback-image.disabled {
  display: none;
}
.cid-tWhwrJcqBH .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 767px) {
  .cid-tWhwrJcqBH .image-wrapper {
    flex-direction: column;
  }
  .cid-tWhwrJcqBH .image-wrapper img {
    margin: auto;
    margin-bottom: 1rem;
  }
}
.cid-tWhwrJcqBH .card-box {
  max-width: 750px;
  padding-top: 2rem;
  margin-left: auto;
  margin-right: 0;
}
.cid-tWhwrJcqBH img,
.cid-tWhwrJcqBH .item-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-tWhwrJcqBH .card-wrapper {
  background: #ffffff;
}
.cid-tWhwrJcqBH .mbr-text,
.cid-tWhwrJcqBH .mbr-section-btn {
  color: #000000;
}
.cid-tWhwrJcqBH .card-title,
.cid-tWhwrJcqBH .card-box {
  color: #232323;
}
@media (max-width: 767px) {
  .cid-tWhwrJcqBH .card-content-text {
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tWhwrJcqBH .card-content-text {
    padding: 2.25rem;
  }
}
@media (min-width: 992px) {
  .cid-tWhwrJcqBH .card-content-text {
    padding: 4rem;
  }
}
.cid-tWhwrJcmmM {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: transparent;
}
.cid-tWhwrJcmmM .mbr-iconfont {
  font-size: 1.2rem !important;
  font-family: 'Moririse2' !important;
  color: white;
  transition: all 0.3s;
  transform: rotate(180deg);
  padding-left: 0.5rem;
}
.cid-tWhwrJcmmM .panel-group {
  border: none;
}
.cid-tWhwrJcmmM .card-header {
  padding: 0rem;
}
@media (max-width: 767px) {
  .cid-tWhwrJcmmM .card-header {
    padding: 0rem;
  }
}
.cid-tWhwrJcmmM .panel-body {
  padding: 0rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
}
.cid-tWhwrJcmmM .img-col {
  padding: 0;
}
.cid-tWhwrJcmmM .img-item {
  height: 100%;
}
.cid-tWhwrJcmmM img {
  height: 100%;
  object-fit: cover;
}
.cid-tWhwrJcmmM .collapsed span {
  transform: rotate(0deg);
}
.cid-tWhwrJcmmM .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-tWhwrJcmmM p {
  margin-bottom: 0.3rem;
}
.cid-tWhwrJcmmM .panel-title-edit {
  color: #000000;
}
.cid-tWhwrJcmmM .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
  border: 0;
  border-radius: 2rem;
}
.cid-tWhwrJcmmM .card {
  background: #ffffff;
  padding: 2.25rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .cid-tWhwrJcmmM .card {
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-tWhwrJcmmM .card {
    margin-bottom: 1rem;
    padding: 2rem 1.5rem;
  }
}
.cid-tWhwrJcmmM .panel-text {
  color: #000000;
}
.cid-tWhwrJcmmM .mbr-section-title {
  text-align: center;
  color: #000000;
}
.cid-tWhwrJcmmM .mbr-section-subtitle {
  color: #000000;
  text-align: center;
}
.cid-tWhwrJcmmM .panel-title-edit,
.cid-tWhwrJcmmM .mbr-iconfont {
  color: #000000;
}
.cid-tWhwrJcJDh {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: transparent;
}
.cid-tWhwrJcJDh img,
.cid-tWhwrJcJDh .item-img {
  width: 100%;
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-tWhwrJcJDh .item:focus,
.cid-tWhwrJcJDh span:focus {
  outline: none;
}
.cid-tWhwrJcJDh .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-tWhwrJcJDh .item {
    margin-bottom: 1rem;
  }
}
.cid-tWhwrJcJDh .item-content {
  margin-top: 2rem;
  padding: 0 2.25rem 2.25rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-tWhwrJcJDh .item-content {
    padding: 2rem 1.5rem;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-tWhwrJcJDh .item-content {
    padding: 2rem 1.5rem;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}
.cid-tWhwrJcJDh .item-wrapper {
  position: relative;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-tWhwrJcJDh .item-wrapper .item-footer {
  margin-top: auto;
}
.cid-tWhwrJcJDh .mbr-section-title {
  color: #000000;
}
.cid-tWhwrJcJDh .item-title {
  text-align: left;
}
.cid-tWhwrJcJDh .item-subtitle {
  text-align: left;
}
.cid-tWhwrJcJDh .mbr-text,
.cid-tWhwrJcJDh .item .mbr-section-btn {
  text-align: left;
}
.cid-tWhwrJcJDh .content-head {
  max-width: 800px;
}
.cid-tWhwrJd2Nt {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tWhwrJd2Nt .mbr-text {
  color: #000000;
  text-align: left;
}
.cid-tWhwrJd2Nt .mbr-section-subtitle {
  color: #000000;
  text-align: center;
}
.cid-tWhwrJd2Nt .mbr-section-title {
  text-align: center;
  color: #000000;
}
.cid-tWhwrJd2Nt .content-head {
  max-width: 800px;
}
.cid-tWhwrJd2Nt .mbr-card-subtitle {
  color: #000000;
  text-align: left;
}
.cid-tWhwrJd2Nt .mbr-card-title {
  text-align: left;
  color: #000000;
}
.cid-tWhwrJdcPj {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #2b2d42;
}
.cid-tWhwrJdcPj input {
  padding: 1.2rem 1.5rem;
  border: none !important;
  height: 100%;
}
.cid-tWhwrJdcPj input:hover {
  border: none !important;
}
.cid-tWhwrJdcPj .btn {
  height: 100%;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-tWhwrJdcPj .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tWhwrJdcPj .row {
  justify-content: center;
}
.cid-tWhwrJdcPj .mbr-section-btn {
  display: flex;
  margin-bottom: 1.2rem;
  width: fit-content;
}
@media (min-width: 768px) {
  .cid-tWhwrJdcPj .mbr-section-btn {
    margin-left: initial;
  }
}
.cid-tWhwrJdcPj .mbr-section-btn .btn {
  width: auto;
}
@media (max-width: 991px) {
  .cid-tWhwrJdcPj .image-wrapper {
    margin-bottom: 2rem;
  }
  .cid-tWhwrJdcPj .content-wrapper {
    flex-direction: column-reverse;
  }
}
.cid-tWhwrJdcPj .justify-content-center {
  align-items: center;
}
.cid-tWhwrJdcPj .mbr-section-title {
  text-align: center;
  color: #FFFFFF;
}
.cid-tWhwrJd3Cs {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: transparent;
}
.cid-tWhwrJd3Cs .mbr-fallback-image.disabled {
  display: none;
}
.cid-tWhwrJd3Cs .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (min-width: 768px) {
  .cid-tWhwrJd3Cs .container-fluid {
    padding: 0;
  }
}
.cid-tWhwrJd3Cs .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 490px;
  max-width: 490px;
}
@media (max-width: 768px) {
  .cid-tWhwrJd3Cs .embla__slide {
    min-width: 100%;
    max-width: 100%;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-tWhwrJd3Cs .embla__slide a {
  display: block;
  width: 100%;
}
.cid-tWhwrJd3Cs .embla__button--next,
.cid-tWhwrJd3Cs .embla__button--prev {
  display: flex;
}
.cid-tWhwrJd3Cs .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-tWhwrJd3Cs .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-tWhwrJd3Cs .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-tWhwrJd3Cs .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-tWhwrJd3Cs .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tWhwrJd3Cs .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tWhwrJd3Cs .embla__button {
    top: auto;
    bottom: 1rem;
  }
}
.cid-tWhwrJd3Cs .embla {
  position: relative;
  width: 100%;
}
.cid-tWhwrJd3Cs .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-tWhwrJd3Cs .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-tWhwrJd3Cs .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-tWhwrJd3Cs .embla__slide a {
  cursor: grab;
}
.cid-tWhwrJd3Cs .embla__slide a:active {
  cursor: grabbing;
}
.cid-tWhwrJd3Cs .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-tWhwrJd3Cs .item-menu-overlay {
  border-radius: 2rem;
}
.cid-tWhwrJd3Cs .mbr-section-title {
  color: #232323;
}
.cid-tWhwrJd3Cs .mbr-section-subtitle {
  color: #232323;
}
.cid-tWhwrJd3Cs .mbr-box {
  color: #ffffff;
}
.cid-tWhwrJd3Cs .slide-content {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
}
.cid-tWhwrJd3Cs img,
.cid-tWhwrJd3Cs .item-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-tWhwrJd3Cs .item-wrapper {
  position: relative;
}
.cid-tWhwrJd3Cs .content-head {
  max-width: 800px;
}
.cid-tWhwrJfV8g {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tWhwrJfV8g .mbr-fallback-image.disabled {
  display: none;
}
.cid-tWhwrJfV8g .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tWhwrJfV8g p {
  line-height: 1.2;
}
.cid-tWhwrJfV8g .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 770px;
  max-width: 570px;
}
@media (max-width: 768px) {
  .cid-tWhwrJfV8g .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-tWhwrJfV8g .embla__button--next,
.cid-tWhwrJfV8g .embla__button--prev {
  display: flex;
}
.cid-tWhwrJfV8g .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-tWhwrJfV8g .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-tWhwrJfV8g .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-tWhwrJfV8g .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tWhwrJfV8g .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 768px) {
  .cid-tWhwrJfV8g .embla__button {
    top: auto;
  }
}
.cid-tWhwrJfV8g .item-wrapper {
  height: 100%;
}
.cid-tWhwrJfV8g .item-menu-overlay {
  border-radius: 2rem;
}
.cid-tWhwrJfV8g .user_image {
  max-width: 600px;
  max-height: 400px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  margin: 0 auto 2rem auto;
}
.cid-tWhwrJfV8g .user_image img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}
@media (max-width: 230px) {
  .cid-tWhwrJfV8g .user_image {
    width: 100%;
    height: auto;
  }
}
.cid-tWhwrJfV8g .embla {
  position: relative;
  width: 100%;
}
.cid-tWhwrJfV8g .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-tWhwrJfV8g .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-tWhwrJfV8g .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-tWhwrJfV8g .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-tWhwrJfV8g .user_desk {
  color: #000000;
}
.cid-tWhwrJfV8g .user_name {
  color: #000000;
}
.cid-tWhwrJfV8g .user_text {
  color: #000000;
}
.cid-tWhwrJgDNc {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tWhwrJgDNc .mbr-fallback-image.disabled {
  display: none;
}
.cid-tWhwrJgDNc .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tWhwrJgDNc .title .num {
  width: 100%;
  display: block;
}
.cid-tWhwrJgDNc .title .card-title {
  z-index: 1;
}
.cid-tWhwrJgDNc .num {
  color: #8D99AE;
  text-align: center;
}
.cid-tWhwrJgDNc .item-mb {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-tWhwrJgDNc .item-mb {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-tWhwrJgDNc * {
    text-align: center !important;
  }
  .cid-tWhwrJgDNc .content-column {
    margin-bottom: 2rem;
  }
}
.cid-tWhwrJgDNc .content-head {
  max-width: 800px;
}
.cid-tWhwrJgDNc .card-text {
  text-align: center;
}
.cid-tWhwrJgDNc .card-title,
.cid-tWhwrJgDNc .card-img {
  text-align: center;
}
.cid-tWhwrJg8B7 {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-tWhwrJg8B7 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tWhwrJg8B7 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tWhwrJg8B7 .item-wrapper {
  display: flex;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-tWhwrJg8B7 .item-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tWhwrJg8B7 .img-wrapper {
  width: 10rem;
  padding-right: 1.5rem;
}
.cid-tWhwrJg8B7 .content-head {
  max-width: 800px;
}
.cid-tWhwrJg8B7 img,
.cid-tWhwrJg8B7 .item-img {
  width: 100%;
  object-fit: cover;
  height: 100px;
}
.cid-tWhwrJhKHH {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-tWhwrJhKHH .item-subtitle {
  line-height: 1.2;
  color: #000000;
  text-align: center;
}
.cid-tWhwrJhKHH img,
.cid-tWhwrJhKHH .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-tWhwrJhKHH .item:focus,
.cid-tWhwrJhKHH span:focus {
  outline: none;
}
.cid-tWhwrJhKHH .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-tWhwrJhKHH .item {
    margin-bottom: 1rem;
  }
}
.cid-tWhwrJhKHH .item-wrapper {
  position: relative;
  border-radius: 4px;
  display: flex;
  flex-flow: column nowrap;
}
.cid-tWhwrJhKHH .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tWhwrJhKHH .mbr-section-title {
  color: #000000;
}
.cid-tWhwrJhKHH .mbr-text,
.cid-tWhwrJhKHH .mbr-section-btn {
  color: #000000;
  text-align: center;
}
.cid-tWhwrJhKHH .item-title {
  color: #000000;
  text-align: center;
}
.cid-tWhwrJhKHH .content-head {
  max-width: 800px;
}
.cid-tWhwrJhbvX {
  padding-top: 5rem;
  padding-bottom: 4rem;
  background-color: transparent;
}
.cid-tWhwrJhbvX .item-mb {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-tWhwrJhbvX .item-mb {
    margin-bottom: 1rem;
  }
}
.cid-tWhwrJhbvX .item-head {
  background: #8d99ae;
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-tWhwrJhbvX .item-head {
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tWhwrJhbvX .item-head {
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
  }
}
.cid-tWhwrJhbvX .item-content {
  padding: 2.25rem 2.25rem 0;
  background: #ffffff;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-tWhwrJhbvX .item-content {
    padding: 0rem 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-tWhwrJhbvX .item-content {
    padding: 0rem 1.5rem;
  }
}
.cid-tWhwrJhbvX .item-wrapper {
  border-radius: 2rem;
  overflow: hidden;
  margin-bottom: 2rem;
  background: #ffffff;
  padding: 0rem;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (max-width: 767px) {
  .cid-tWhwrJhbvX .item-wrapper {
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-tWhwrJhbvX .item-wrapper .item-footer {
    padding: 0 1.5rem 2rem;
  }
}
@media (min-width: 1201px) {
  .cid-tWhwrJhbvX .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
.cid-tWhwrJhbvX .btn {
  width: -webkit-fill-available;
}
.cid-tWhwrJhbvX .item:focus,
.cid-tWhwrJhbvX span:focus {
  outline: none;
}
.cid-tWhwrJhbvX .mbr-section-btn {
  margin-top: auto !important;
  padding: 2rem 2rem 0;
}
@media (max-width: 991px) {
  .cid-tWhwrJhbvX .mbr-section-btn {
    padding: 0rem 2.25rem 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tWhwrJhbvX .mbr-section-btn {
    padding: 0rem 1.5rem;
    margin-bottom: 2rem;
  }
}
.cid-tWhwrJhbvX .mbr-section-title {
  color: #000000;
}
.cid-tWhwrJhbvX .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tWhwrJhbvX .mbr-text,
.cid-tWhwrJhbvX .mbr-section-btn {
  text-align: left;
}
.cid-tWhwrJhbvX .item-title {
  text-align: left;
  color: var(--primary-text, #ffffff);
}
.cid-tWhwrJhbvX .item-subtitle {
  text-align: left;
  color: var(--primary-text, #ffffff);
}
.cid-tWhwrJhbvX .content-head {
  max-width: 800px;
}
.cid-tWhwrJha3I {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tWhwrJha3I .social-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cid-tWhwrJha3I .social-row .soc-item {
  margin: 8px;
}
.cid-tWhwrJha3I .social-row .soc-item a:hover .mbr-iconfont,
.cid-tWhwrJha3I .social-row .soc-item a:focus .mbr-iconfont {
  background-color: #f7f7f7;
}
.cid-tWhwrJha3I .social-row .soc-item a .mbr-iconfont {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 32px;
  background-color: #f7f7f7;
  color: #393193;
  transition: all 0.3s ease-in-out;
}
.cid-tWhwrJha3I .row-links {
  width: 100%;
  justify-content: center;
}
.cid-tWhwrJha3I .mbr-section-title {
  color: #ffffff;
}
.cid-tWhwrJha3I .mbr-section-title,
.cid-tWhwrJha3I .social-list {
  color: #000000;
}
.cid-tWhwrJh2ZX {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tWhwrJh2ZX .item-subtitle {
  line-height: 1.2;
  color: #000000;
}
.cid-tWhwrJh2ZX img,
.cid-tWhwrJh2ZX .item-img {
  width: 100%;
}
.cid-tWhwrJh2ZX .item:focus,
.cid-tWhwrJh2ZX span:focus {
  outline: none;
}
.cid-tWhwrJh2ZX .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-tWhwrJh2ZX .item {
    margin-bottom: 1rem;
  }
}
.cid-tWhwrJh2ZX .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-tWhwrJh2ZX .mbr-section-title {
  color: #232323;
}
.cid-tWhwrJh2ZX .mbr-text,
.cid-tWhwrJh2ZX .mbr-section-btn {
  color: #232323;
}
.cid-tWhwrJh2ZX .item-title {
  color: #232323;
  text-align: center;
}
.cid-tWhwrJh2ZX .content-head {
  max-width: 800px;
}
.cid-tWhwrJhiYr {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: transparent;
}
.cid-tWhwrJhiYr .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-tWhwrJhiYr form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-tWhwrJhiYr form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-tWhwrJhiYr form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-tWhwrJhiYr .content-head {
  max-width: 800px;
}
.cid-tWhwrJiafR {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: transparent;
}
.cid-tWhwrJiafR .mbr-fallback-image.disabled {
  display: none;
}
.cid-tWhwrJiafR .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-tWhwrJiafR .row .map-wrapper {
    margin-top: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tWhwrJiafR .row .map-wrapper {
    margin-top: 1rem;
  }
}
.cid-tWhwrJiafR .google-map {
  height: 100%;
  position: relative;
}
.cid-tWhwrJiafR .google-map iframe {
  height: 100%;
  width: 100%;
}
@media (max-width: 992px) {
  .cid-tWhwrJiafR .google-map iframe {
    min-height: 350px;
  }
}
.cid-tWhwrJiafR .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-tWhwrJiafR .google-map[data-state] {
  background: #e9e5dc;
}
.cid-tWhwrJiafR .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-tWhwrJiafR .card-wrapper {
  padding: 2.25rem;
  background: #ffffff;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-tWhwrJiafR .card-wrapper {
    padding: 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-tWhwrJiafR .card-wrapper {
    padding: 2rem 1.5rem;
  }
}
.cid-tWhwrJiafR ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.cid-tWhwrJiafR .content-head {
  max-width: 800px;
}
.cid-tWhwrJikU8 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #000000;
}
.cid-tWhwrJikU8 .social-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cid-tWhwrJikU8 .social-row .soc-item {
  margin: 8px;
}
.cid-tWhwrJikU8 .social-row .soc-item a:hover .mbr-iconfont,
.cid-tWhwrJikU8 .social-row .soc-item a:focus .mbr-iconfont {
  background-color: #ffffff;
}
.cid-tWhwrJikU8 .social-row .soc-item a .mbr-iconfont {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 32px;
  background-color: #edefeb;
  color: #000000;
  transition: all 0.3s ease-in-out;
}
.cid-tWhwrJikU8 .row-links {
  width: 100%;
  justify-content: center;
}
.cid-tWhwrJikU8 .header-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-tWhwrJikU8 .header-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-tWhwrJikU8 .header-menu li p {
  margin: 0;
}
.cid-tWhwrJikU8 .copyright {
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
}
.cid-tWhwrJikU8 .mbr-section-title {
  color: #ffffff;
}
